@font-face {
  font-family: "Flaticon";
  src: url("../fonts1/flaticon.eot");
  src: url("../fonts1/flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts1/flaticon.woff") format("woff"),
       url("../fonts1/flaticon.ttf") format("truetype"),
       url("../fonts1/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts1/flaticon.svg#Flaticon") format("svg");
  }
}


.flaticon-message1:before {
    content: "\f13f";
}
.flaticon-telephone1:before {
    content: "\f113";
}
